* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-image: url("../images/gplaypattern.png");
  font-size: 18px;
  font-family: 'Ubuntu Condensed';
  width: 960px;
  margin: 0 auto;
}

/* #stop {
  position: fixed;
  left: 10px;
  top: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
  background: red;
} */

header {
  font-family: 'Atomic Age';
  font-size: 35px;
  background: grey;
  margin: 0 20px 0 20px;
  padding: 20px;
}

#start {
  position: relative;
  top: 50px;
  width: 15%;
  font-size: 25px;
  background: black;
  color: white;
  margin: 0 auto;
}

.content {
  margin: 0 20px 0 20px;
  height: 500px;
  padding: 20px;
  background: whitesmoke;
}

.qaDisplay {
  position: relative;
  top: 50px;
  font-size: 19px;
}

.choices {
  margin: 10px 25%;
  padding: 20px;
  font-family: 'Ubuntu Condensed';
  background: greenyellow;
  width: 50%;
  font-size: 30px;
}

.startOver {
  position: relative;
  top: 250px;
  width: 15%;
  font-size: 25px;
  background: black;
  color: white;
  margin: 0 auto;
}