* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-image: url("../images/gplaypattern.png");
  font-size: 18px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: 960px;
  margin: 0 auto;
}

#stop {
  position: fixed;
  left: 10px;
  top: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
  background: red;
}

header {
  font-family: 'Atomic Age';
  font-size: 35px;
  background: grey;
  margin: 0 20px 0 20px;
  padding: 20px;
}

#start {
  width: 15%;
  font-size: 25px;
  background: black;
  color: white;
  margin: 0 auto;
}

.content {
  margin: 0 20px 0 20px;
  padding: 20px;
  background: whitesmoke;
}